body{
    background-color:#f7ecde;
}
.dotted{
    border: dashed 1px;
    
}
h1{
    font-family: "Pacifico", cursive;
    color: #fd7e14;
    margin: auto;
    font-weight: 900;
}
h3  {
    font-family: "Pacifico", cursive;
    color: #3ca55c;
    font-weight: 900; 
}
.head i {
    color: #3ca55c;
    font-weight: 900; 
    font-size: 25px;

}
.btn-sb button{
    width: 150px;
    font-weight: 500;
    font-size: 18px;
}
i{
 font-weight:bold;  
 font-size: 20px; 
}
span{
    font-weight: 700;
    margin-left: 3px;
}
